.weapon-select-compare{
    background-color: #242424;
    color: white;
}

table {
    min-width: 600px;
    width: 100%;
    border: 2px solid rgb(88, 88, 88);
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}

.back-link{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;   
}
.current-weapon,
.compare-column {
    max-width: 600px;
    width: 100%;
}
.details{
    text-align: left;
    margin: auto;
    width: 50%;
}
.ttk-breakdown{
  margin-top: 35px;
}